<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport"content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
    <title>Edit profile</title>

    <meta name="description" content="" />
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
          rel="stylesheet" />

    <link rel="stylesheet" href="/User/Login/vendor/fonts/boxicons.css" />
    <!-- Core CSS -->
    <link rel="stylesheet" href="/User/Login/vendor/css/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="/User/Login/vendor/css/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="/User/Login/css/demo.css" />
    <!-- Vendors CSS -->
    <link rel="stylesheet" href="/User/Login/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />
    <!-- Page CSS -->
    <!-- Page -->
    <link rel="stylesheet" href="/User/Login/vendor/css/pages/page-auth.css" />
    <!-- Helpers -->
    <script src="/User/Login/vendor/js/helpers.js"></script>
    <link rel="shortcut icon" href="/User/images/graduation-cap.png" />
    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="/User/Login/js/config.js"></script>
</head>

<body>
    <!-- Content -->
    <div class="container-xxl">
        <div class="authentication-wrapper authentication-basic container-p-y">
            <div class="authentication-inner">
                <div class="card">
                    <div class="card-body" style="background-color: rgb(255 249 249 / 63%);">
                        <div class="app-brand justify-content-center">
                            <span class="app-brand-text demo text-body fw-bold">Edit your profile</span>
                        </div>
                        <form id="addprofileForm" action="/api/register" class="mb-3" method="POST">
                            <div id="errorMessage" style="color: red;"></div>
                            <div class="mb-3">
                                <label for="username" class="form-label">Username</label>
                                <input type="text" class="form-control" id="username" name="username" required placeholder="Enter your username" value="<%= username %>" />
                                <div class="text-danger" id="usernameError"></div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="fullname">Họ và tên</label>
                                <div class="input-group input-group-merge">
                                    <input type="text" class="form-control" id="fullname" name="fullname" required placeholder="Enter your fullname" autofocus="autofocus" />
                                </div>
                                <div class="text-danger" id="fullnameValidationError"></div>
                            </div>
                            <div class="mb-3 form-password-toggle">
                                <label class="form-label" for="chucdanh">Chức danh</label>
                                <div class="input-group input-group-merge">
                                    <select class="form-control" id="chucdanh" name="chucdanh">
                                        <option value="Học sinh">Học sinh</option>
                                        <option value="Giáo viên">Giáo viên</option>
                                    </select>
                                </div>
                                <div id="chucdanhError" class="text-danger"></div>
                            </div>
                            <div class="mb-3">
                                <label for="email" class="form-label">Email</label>
                                <input type="text" class="form-control" id="email" name="email" required placeholder="Enter your email" />
                                <div class="text-danger" id="usernameError"></div>
                            </div>
                            <div class="mb-3">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="terms-conditions" name="terms" />
                                    <label class="form-check-label" for="terms-conditions">
                                        I am sure the information above is correct
                                    </label>
                                </div>
                            </div>
                            <button class="btn btn-primary d-grid w-100" type="submit" id="addprofileButton">Complete</button>
                        </form>                                               
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        document.getElementById("addprofileForm").addEventListener("submit", async function(event) {
            event.preventDefault();

            const username = document.getElementById("username").value;
            const hoten = document.getElementById("fullname").value;
            const chucdanh = document.getElementById("chucdanh").value;
            const email = document.getElementById("email").value;
            try {
                const token = localStorage.getItem('token');
                const response = await fetch('/api/user/adduser', {
                    method: 'POST',
                    headers: { 
                                    'Content-Type': 'application/json',
                                   'Authorization': 'Bearer ' + token
                             },
                    body: JSON.stringify({ username, hoten,chucdanh,email})
                });

                const result = await response.json();
                if (result.success) {
                    window.location.href = '/user/login';
                } else {
                    document.getElementById('errorMessage').textContent = result.message || 'Đã xảy ra lỗi';
                }
            } catch (error) {
                console.error("Error:", error);
                alert("Đã xảy ra lỗi khi đăng ký.");
            }
        });
    </script>
    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    <script src="/User/Login/vendor/libs/jquery/jquery.js"></script>
    <script src="/User/Login/vendor/libs/popper/popper.js"></script>
    <script src="/User/Login/vendor/js/bootstrap.js"></script>
    <script src="/User/Login/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="/User/Login/vendor/js/menu.js"></script>
    <script src="/User/Login/js/main.js"></script>
    <script async defer src="https://buttons.github.io/buttons.js"></script>
</body>
</html>

