<link rel="stylesheet" href="/User/css/topic-style.css">
<link rel="stylesheet" href="/Notification/Notification.css">
<div id="notification" class="notification" style="display: none;">
    <span id="notification-message"></span>
    <button id="close-notification">×</button>
</div>
<div style="background-color: white;border-radius: 5px;padding: 1rem 1.25rem;margin: 10px 27px;">
    <p class="card-title" style="margin-bottom: 0;    font-size: 1.2rem; font-weight: 600;">Chỉnh sửa đề thi</p>                   
</div>
<nav class="tab-nav" style="margin-bottom: 0;">
                    <ul>
                        <li class="tab active">Thông tin cơ bản</li>
                        <li class="tab">Sửa câu hỏi</li>
                        <li class="tab">Thống kê</li>                      
                    </ul>
<a href='/user/topic' class="btn-returntopic">Trở về</a>
</nav>
                <div class="container active create-form-ques">
                    <h3 style="margin-bottom: 30px;">Thông tin cơ bản</h3>
                    <div class="form-group-topic">
                        <label for="tende">Tên đề thi:</label>
                        <input class="form-inputgroup" type="text" id="tende" name="tende" required>
                    </div>
                    <div class="form-group-topic">
                        <label for="monhoc">Môn học:</label>
                        <input class="form-inputgroup" type="text" id="monhoc" name="monhoc" required>
                    </div>
                    <div class="form-group-topic">
                        <label for="trinhdo">Trình độ:</label>
                        <select class="form-inputgroup" id="trinhdo" name="trinhdo">
                            <option value="Trung học cơ sở">Trung học cơ sở</option>
                            <option value="Trung học phổ thông">Trung học phổ thông</option>
                            <option value="Đại học">Đại học</option>
                        </select>
                    </div>
                    <div class="form-group-topic">
                        <label for="truong">Trường học:</label>
                        <select class="form-inputgroup" id="truong" name="truong" required>
                            <option value="">Chọn trường</option>
                        </select>
                    </div>
                    <button type="button" class="button-create" id="updateButton">Cập nhật đề thi</button>
                </div>
            
                <!-- Bạn có thể thêm nội dung cho các tab khác ở đây -->
                <div class="container" style="margin: 0px 27px;min-width: 1187px;padding: 0;">
                    <%- include("editquestion.ejs"); %>    
                </div>
                <div class="container statistic" style="background-color: white;min-width: 1187px;margin: 15px auto;padding: 16px;">
                    <div style="align-items: center;flex-direction: row;display: flex;gap: 30px;">
                    <h3>Thống kê</h3>
                    <select id="selectYear" style="height: 45px;width: 100px;text-align: center;border: 1px solid #dadada;border-radius: 5px;margin-bottom: 0.5rem;"></select>
                    </div>
                    <canvas id="myChart" style="height: 504px;width: 1110px;"></canvas>
                </div>
                <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                <script src="/Notification/Notification.js"></script>
                <script type="module" src="/User/js/exam/edittopic-js.js"></script>
            </div>
        </div>
    </div>
</div>

