<!DOCTYPE html>
<html lang="en">
<head>
	<title>EduQuiz</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" href="/User/Static/css/animate.css">
	
	<link rel="stylesheet" href="/User/Static/css/owl.carousel.min.css">
	<link rel="stylesheet" href="/User/Static/css/owl.theme.default.min.css">
	<link rel="stylesheet" href="/User/Static/css/magnific-popup.css">

	<link rel="stylesheet" href="/User/Static/css/bootstrap-datepicker.css">
	<link rel="stylesheet" href="/User/Static/css/jquery.timepicker.css">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

	<link rel="stylesheet" href="/User/Static/css/flaticon.css">
	<link rel="stylesheet" href="/User/Static/css/style.css">
	<link rel="shortcut icon" href="/User/images/graduation-cap.png" />
	<script src="https://kit.fontawesome.com/6b8a71fb94.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container">
            <a href="/user/home"
                style="display: flex;flex-direction: row;align-items: center;gap: 10px;text-decoration: none;font-size: 1.6rem;font-weight: 800;
    background: linear-gradient(45deg, #0045ff 15%, #e478c9 100%);background-clip: text;-webkit-text-fill-color: transparent;">
                <img src="/User/images/graduation-cap.png" alt="Logo"
                    style="width:auto; height: 50px; margin-left: 100px;">
                EduQuiz
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
                aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="oi oi-menu"></span>
            </button>
        </div>


        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav ml-auto" style="display: flex;flex-direction: row; align-items: center;">
                <li class="nav-item active"><a href="/user/home" class="nav-link">Home</a></li>
                <li class="nav-item"><a href="/user/lsttopic" class="nav-link">Exams</a></li>
                <li class="nav-item"><a href="/user/contact" class="nav-link" target="_blank">Contact</a></li>
                <li class="nav-item"><a href="/user/price" class="nav-link">Price</a></li>
				<li class="nav-item li-sign-up-in" id="signup-in-Button"><a href="/user/register" class="nav-link">Sign up</a>/<a href="#" id="login-btn" class="nav-link">Sign in</a></li>
                <li id="profileMenu" class="nav-item nav-profile dropdown" style="display: none;">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown"
                        style="display: flex;flex-direction: row;align-items: center;gap: 10px;">
                        <img src="/User/images/cute-little-schoolboy-graduation.png" alt="profile"
                            style="border: 1px solid #948e8e57;border: 1px solid #948e8e57;width: 40px;height: 40px;border-radius: 100%;" />
                            <span id="user-fullname" style="    font-size: 14px;font-weight: 600;">
                                <!-- tên người dùng -->
                            </span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown"
                            id="profileDropdownMenu">
                            <a class="dropdown-item user-item-dropdown" href="/user/index"  target="_blank" >
                                <i class="fa-solid fa-house-user" style=" font-size: 1.2rem;"></i>
                                EduQuiz Studio
                            </a>
                            <a id="user-profile-link" class="dropdown-item user-item-dropdown" href="/user/profile" target="_blank">
                                <i class="fa-solid fa-gear" style=" font-size: 1.2rem;"></i>
                                Hồ sơ
                            </a>
                        <a class="dropdown-item user-item-dropdown" id="logoutButton">
                            <i class="fa-solid fa-power-off" style=" font-size: 1.2rem;"></i>
                            Log out
                        </a>
                    </div>
                </li>
				<style>
                    a#profileDropdown.nav-link.dropdown-toggle::after{
                        display: none;
                    }
                    #profileDropdownMenu{
                        background-color: #ffffff5e;
                        top: 75px;
                    }
                    .user-item-dropdown:focus{
                        background-color: #ffffff;
                    }
                    #logoutButton:active{
                        background-color: #ffffff;
                        cursor: pointer;
                    }
                   .user-item-dropdown{
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        gap: 10px;
                        font-family: system-ui;
                        cursor: pointer;
                    }
					.li-sign-up-in{
					display: flex;
					flex-direction: row;
					align-items: center;
					min-width: fit-content;
					margin-right: 50px;
					}
                </style>
    <script>
        document.getElementById("logoutButton").addEventListener("click", function (event) {
            event.preventDefault(); 
            const keysToKeep = ['tokenAdmin'];
                const keysToRemove = [];
                for (let i = 0; i < localStorage.length; i++) {
                    const key = localStorage.key(i);
                    if (!keysToKeep.includes(key)) {
                        keysToRemove.push(key);
                    }
                }
                keysToRemove.forEach(key => {
                    localStorage.removeItem(key);
                }); 
				window.location.reload();
        });
        document.addEventListener('DOMContentLoaded', function () {
        const token = localStorage.getItem("token");
        if (token) {
        document.getElementById("profileMenu").style.display = "block";
		document.getElementById("signup-in-Button").style.display = "none";
            // Lấy phần tử ảnh và menu
            const profileImage = document.getElementById('profileDropdown');
            const profileDropdownMenu = document.getElementById('profileDropdownMenu');
            const userInfo = localStorage.getItem('userInfo');

            if (userInfo) {
                const user = JSON.parse(userInfo);
                document.getElementById('user-fullname').textContent = user.hoten;
            }

            // Khi click vào ảnh
            profileImage.addEventListener('click', function (event) {
                event.preventDefault(); 
                if (profileDropdownMenu.style.display === 'none' || profileDropdownMenu.style.display === '') {
                    profileDropdownMenu.style.display = 'block'; // Hiển thị menu
                } else {
                    profileDropdownMenu.style.display = 'none'; // Ẩn menu
                }
            });

            // Khi click bên ngoài menu, ẩn menu
            document.addEventListener('click', function (event) {
                // Kiểm tra nếu click bên ngoài menu và ảnh
                if (!profileImage.contains(event.target) && !profileDropdownMenu.contains(event.target)) {
                    profileDropdownMenu.style.display = 'none'; // Ẩn menu nếu click bên ngoài
                }
            });
        } else {
        // Nếu không có token, ẩn menu
        document.getElementById("profileMenu").style.display = "none";
		document.getElementById("signup-in-Button").style.display = "flex";
        document.getElementById('login-btn').addEventListener('click', function(event){
        event.preventDefault();
		const currentUrl = window.location.pathname + window.location.search;
		window.location.href = `/user/login?redirect=${encodeURIComponent(currentUrl)}`;
		});
        }
        });
    </script>
    </ul>
    </div>
    </div>
    </nav>
    <!-- END nav -->
    <section class="pricing-section">
        <div class="container">
            <div class="pricing-header text-center">
                <p style="margin-top: 30px;">Tự động tạo câu hỏi và đề thi trong vài giây với các giải pháp của chúng tôi. EduQuiz tận dụng sức mạnh công nghệ để nâng cao trình độ học tập của bạn.</p>
                <div class="pricing-duration">
                    <label for="1-month">
                        <input type="radio" name="duration" id="1-month" data-type="month" checked>
                        1 tháng
                    </label>
                
                    <label for="3-months">
                        <input type="radio" name="duration" id="3-months" data-type="quarter" >
                        3 tháng
                        <div class="discount-badge">-20%</div>
                    </label>
                
                    <label for="12-months">
                        <input type="radio" name="duration" id="12-months" data-type="year">
                        12 tháng
                        <div class="discount-badge">-40%</div>
                    </label>
                </div>    
            </div>
            <div id="pricing-plans" style="display: flex;flex-direction: row;justify-content: space-around;margin-top: 30px;align-items: stretch;">
                <!-- các gói nâng cấp -->
            </div>
        </div>
        <script>
    document.addEventListener('DOMContentLoaded', function () {
    // Hàm gọi API và xử lý dữ liệu trả về
    function fetchAndDisplayPlans(durationType) {
        fetch(`/api/typeacc/packageacc?type=${durationType}`)
            .then(response => response.json())
            .then(data => {
                if (Array.isArray(data.data)) {
                    console.log('Dữ liệu là mảng:', data.data);
                    displayPlans(data.data); 
                } else {
                    console.error('Dữ liệu trả về không phải là mảng:', data);
                }
            })
            .catch(error => {
                console.error('Lỗi khi gọi API:', error);
            });
    }

    // Lắng nghe sự kiện thay đổi trên các radio button
    document.querySelectorAll('input[name="duration"]').forEach(radio => {
        radio.addEventListener('change', function() {
            // Lấy giá trị của thuộc tính data-type từ input radio được chọn
            const durationType = this.getAttribute('data-type');
            fetchAndDisplayPlans(durationType); // Gọi hàm chung
        });
    });

    // Kiểm tra radio button mặc định khi trang tải
    const defaultRadio = document.querySelector('input[name="duration"]:checked');
    if (defaultRadio) {
        const durationType = defaultRadio.getAttribute('data-type');
        fetchAndDisplayPlans(durationType); // Gọi hàm chung
    }
});

// Function to display plans
function displayPlans(plans) {
    const plansContainer = document.getElementById('pricing-plans');
    plansContainer.innerHTML = '';
   // Thêm gói "Free" vào đầu danh sách
   const freePlan = document.createElement('div');
    freePlan.classList.add('plan');
    freePlan.innerHTML = `
        <h3>Free</h3>
        <p class="price">Miễn phí</p>
        <p>Ưu đãi:</p>
        <ul id="pro-plan">
            <li>Tạo 5 đề thi mỗi tháng</li>
            <li>Được thi 5 lần mỗi tháng</li>
            <li>Lưu trữ kết quả thi không giới hạn</li>
            <li>Ưu tiên hỗ trợ 24/7</li>
        </ul>
    `;
    plansContainer.appendChild(freePlan);

    // Duyệt qua các gói và hiển thị
    plans.forEach(plan => {
        const planDiv = document.createElement('div');
        planDiv.classList.add('plan');
        planDiv.innerHTML = `
            <h3>${plan.tenloaitk}</h3>
            <p class="price">${plan.gia.toLocaleString('vi-VN')} VNĐ</p>
            <p>Ưu đãi:</p>
            <ul id="pro-plan">
                <li>Tạo ${plan.solandangbai} đề thi</li>
                <li>Được thi ${plan.solandangbai} lần</li>
                <li>Được tải đề thi ${plan.solantai} lần</li>
                <li>Lưu trữ kết quả thi không giới hạn</li>
                <li>Ưu tiên hỗ trợ 24/7</li>
            </ul>
            <a href="/user/upgrade" class="btn-register" target="_blank">Đăng ký gói</a>
        `;
        plansContainer.appendChild(planDiv);
    });
}
        </script>
    </section><section class="features-section">
        <div class="container">
            <h2 class="text-center">Lý do lựa chọn EduQuiz</h2>
            <div class="features">
                <div class="feature-item">
                    <h4>✨ Tối ưu cho trắc nghiệm</h4>
                    <p>Đa dạng tính năng với tạo đề thi, ôn thi, thi thử, ghi nhớ với Flashcard, tạo lớp học, tạo kỳ thi.</p>
                </div>
                <div class="feature-item">
                    <h4>📚 Kho đề thi khổng lồ</h4>
                    <p>Kho đề thi đến từ các trường đại học trên cả nước, được đóng góp bởi các giáo viên, giảng viên, sinh viên.</p>
                </div>
                <div class="feature-item">
                    <h4>🚀 Dễ thi dễ cập nhật</h4>
                    <p>Mỗi ngày có hàng trăm đề thi được cập nhật mới trên hệ thống bởi người dùng và đội ngũ EduQuiz.</p>
                </div>
                <div class="feature-item">
                    <h4>🔍 Dễ dàng quản lý, đánh giá</h4>
                    <p>Chức năng quản lý kênh đề thi, kết quả thi giúp người dùng dễ dàng thống kê và đánh giá chất lượng.</p>
                </div>
                <div class="feature-item">
                    <h4>💬 Cộng đồng học tập</h4>
                    <p>Tham gia Group học tập - nơi chia sẻ, đóng góp các tài liệu, đề thi cùng người dùng khác.</p>
                </div>
                <div class="feature-item">
                    <h4>🎓 Tối ưu chi phí</h4>
                    <p>Mức phí hợp lý giúp người dùng sử dụng hiệu quả chức năng, học tập trải nghiệm tốt hơn.</p>
                </div>
            </div>
        </div>
    </section>
		<footer class="ftco-footer ftco-no-pt">
			<div class="container">
				<div class="row mb-5">
					<div class="col-md pt-5">
						<div class="ftco-footer-widget pt-md-5 mb-4">
							<h2 class="ftco-heading-2">About</h2>
							<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
							<ul class="ftco-footer-social list-unstyled float-md-left float-lft">
								<li class="ftco-animate"><a href="#"><span class="fa fa-twitter"></span></a></li>
								<li class="ftco-animate"><a href="#"><span class="fa fa-facebook"></span></a></li>
								<li class="ftco-animate"><a href="#"><span class="fa fa-instagram"></span></a></li>
							</ul>
						</div>
					</div>
					<div class="col-md pt-5">
						<div class="ftco-footer-widget pt-md-5 mb-4 ml-md-5">
							<h2 class="ftco-heading-2">Help Desk</h2>
							<ul class="list-unstyled">
								<li><a href="#" class="py-2 d-block">Customer Care</a></li>
								<li><a href="#" class="py-2 d-block">Legal Help</a></li>
								<li><a href="#" class="py-2 d-block">Services</a></li>
								<li><a href="#" class="py-2 d-block">Privacy and Policy</a></li>
								<li><a href="#" class="py-2 d-block">Refund Policy</a></li>
								<li><a href="#" class="py-2 d-block">Call Us</a></li>
							</ul>
						</div>
					</div>
					<div class="col-md pt-5">
						<div class="ftco-footer-widget pt-md-5 mb-4">
							<h2 class="ftco-heading-2">Recent Courses</h2>
							<ul class="list-unstyled">
								<li><a href="#" class="py-2 d-block">Computer Engineering</a></li>
								<li><a href="#" class="py-2 d-block">Web Design</a></li>
								<li><a href="#" class="py-2 d-block">Business Studies</a></li>
								<li><a href="#" class="py-2 d-block">Civil Engineering</a></li>
								<li><a href="#" class="py-2 d-block">Computer Technician</a></li>
								<li><a href="#" class="py-2 d-block">Web Developer</a></li>
							</ul>
						</div>
					</div>
					<div class="col-md pt-5">
						<div class="ftco-footer-widget pt-md-5 mb-4">
							<h2 class="ftco-heading-2">Have a Questions?</h2>
							<div class="block-23 mb-3">
								<ul>
									<li><span class="icon fa fa-map-marker"></span><span class="text">203 Fake St. Mountain View, San Francisco, California, USA</span></li>
									<li><a href="#"><span class="icon fa fa-phone"></span><span class="text">+2 392 3929 210</span></a></li>
									<li><a href="#"><span class="icon fa fa-paper-plane"></span><span class="text">info@yourdomain.com</span></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 text-center">

						<p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
							Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
							<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
						</div>
					</div>
				</div>
			</footer>
			<script src="/User/Static/js/jquery.min.js"></script>
			<script src="/User/Static/js/jquery-migrate-3.0.1.min.js"></script>
			<script src="/User/Static/js/popper.min.js"></script>
			<script src="/User/Static/js/bootstrap.min.js"></script>
			<script src="/User/Static/js/jquery.easing.1.3.js"></script>
			<script src="/User/Static/js/jquery.waypoints.min.js"></script>
			<script src="/User/Static/js/jquery.stellar.min.js"></script>
			<script src="/User/Static/js/owl.carousel.min.js"></script>
			<script src="/User/Static/js/jquery.magnific-popup.min.js"></script>
			<script src="/User/Static/js/jquery.animateNumber.min.js"></script>
			<script src="/User/Static/js/bootstrap-datepicker.js"></script>
			<script src="/User/Static/js/scrollax.min.js"></script>
			<script src="/User/Static/js/main.js"></script>
             <style>
                .ftco-navbar-light .navbar-nav > .nav-item > .nav-link:hover, .ftco-navbar-light .navbar-nav > .nav-item > .nav-link:focus {
                    color: #4986fc;
                }
                .pricing-section {
                    padding: 50px 0;
                    background-color: #f8f9fa;
                }
            
                .pricing-header p {
                    font-size: 18px;
                    color: #6c757d;
                    text-align: center;
                    margin-bottom: 20px;
                }
            
               
            
                .pricing-duration {
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    gap: 20px;
                }
            
                .pricing-duration label {
                    margin: 0 15px;
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    position: relative;
                }
            
                .pricing-duration input[type="radio"] {
                    margin-right: 5px;
                }
            
                .discount-badge {
                    background-color: #22c55e; /* Green background */
                    padding: 2px 8px;
                    border-radius: 4px;
                    color: white;
                    font-size: 12px;
                    font-weight: bold;
                }
            
                .pricing-plans {
                    display: flex;
                    justify-content: space-around;
                    margin-top: 30px;
                }
            
                .plan {
                    background: #fff;
                    padding: 20px;
                    border-radius: 10px;
                    width: 30%;
                    text-align: center;
                    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
                }
            
                .plan h3 {
                    font-size: 24px;
                    margin-bottom: 10px;
                }
            
                .plan .price {
                    font-size: 28px;
                    color: #f86c6b;
                    margin-bottom: 15px;
                }
            
                .plan ul {
                    list-style: none;
                    padding: 0;
                    margin-bottom: 20px;
                }
            
                .plan ul li {
                    margin-bottom: 10px;
                    font-size: 16px;
                    color: #6c757d;
                }
            
                .btn-register {
                    background-color: #f86c6b;
                    color: #fff;
                    padding: 10px 20px;
                    border-radius: 25px;
                    text-decoration: none;
                }
                .btn-register:hover,.btn-register:focus{
                    text-decoration: none;
                    color: white;
                    outline: none !important;
                }
                /* Features Section */
        .features-section {
            padding: 50px 0;
            background-color: #e9ecef;
        }
        
        .features-section h2 {
            font-size: 32px;
            color: #495057;
            margin-bottom: 30px;
        }
        
        .features {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        
        .feature-item {
            background: #fff;
            padding: 20px;
            width: 30%;
            border-radius: 10px;
            text-align: center;
            margin-bottom: 20px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }
        
        .feature-item h4 {
            font-size: 20px;
            margin-bottom: 10px;
            color: #f86c6b;
        }
        
        .feature-item p {
            font-size: 16px;
            color: #6c757d;
        }
            </style>
		</body>
		</html>